body {
    font-family: Arial, sans-serif;
}
.container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label, input {
    display: block;
    margin: 25px 0;
}
button {
    margin-top: 20px;
}
#resultado {
    margin-top: 20px;
    font-weight: bold;
}